#inpt{height: 31px;border: none;border-radius: 5px;margin-bottom: 5px;width: 123%;}
#h{font-size: 121%;color: white;position: fixed;left: 41%;top: 39%;}
#in{position: fixed;top: 50%;left: 52%;height: 4%;}
#sp{position: fixed;left: 62%;top: 52%;font-size: 156%;font-weight: bold;color: white;}
#hh{position: fixed;left: 41%;color: white;}