#section1{max-width: 60%;
    border-radius: 100px;
     margin-left: 350px;
     background-color: #ffffffbf;
     margin-bottom: 30px;
    height: 625px;}
    #header1{background-color: #05a888;
        display: flex;
        position: absolute;
        margin-left: 3px;
        border-top-left-radius: 1010px;
        border-top-right-radius:880px;
        border-bottom-right-radius: 846px;}
        #div{background-color: #1a977e; width: 30%;position: absolute;left: 40%;top: 21%;border-radius: 20px;height: 320px;}
        #img1{width: 64px;
            border-radius: 50px;
            margin-left: 47px;
            margin-top: 5px;
            margin-bottom: 5px;}
            #h3{margin-left: 8px;
                margin-right: 28px;
                color: white;
                font-weight: 900;}
                #btn1{position: absolute;top: 69%;left: 47%;
                    background-color: #001db8ba;
                    color: white;
                    font-weight: bolder;
                    border: none;
                    height: 31%;
                    border-radius: 19px;
                    font-size: 17px;
                cursor: pointer;}
                #h-3{font-size: 141%;color: white;display: block;margin-left: -32%;}
                #td1{display: block;margin-top: -4%;}
                #td2{display: block;margin: -14px;margin-left: -28%;margin-bottom: -12%;}
                #btn2{position: fixed;top: 53%;left: 50%;height: 50px;width: 178px;background-color: rgb(255, 255, 244);border-bottom-right-radius: 34px;border-top-left-radius: 34px;}
                #btn2:hover{background-color: rgb(207, 207, 22);}